<?xml version="1.0" encoding="UTF-8"?>
<suite name = "Suite1">
  <parameter name="browser" value="mozilla"></parameter>
   <test name = "test1">
      <classes>
        <!--   <class name = "selenium.tutorial.studies.TestNGSampleTest" />-->
         <class name = "selenium.tutorial.studies.SeleniumDataProviderTest" />
      </classes>
   </test>
</suite>